#markdown
##markdown
###markdown
# insert site [SITE](https://login.gitam.edu/Login.aspx)
# insert image 
![site](https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-600w-1048185397.jpg)
# Python basics
### Python is easy to learn.
###pyhton is a begineers language

# creating order list
1.abs
2.hsdf
    1.a
    2.b
[]
# unordered list
1.abs
2.hshsh
3.ggtdgdgdd

# bold and italic
**BOLD**

*ITALIC*

In [0]:
print("HELLO WORLD")

HELLO WORLD

In [0]:
#Variable creation
x=10
y=20
x+y

30

# Rules for variable
- name should begin with a character
- no special characters allowed except underscore (_)

In [0]:
name = "junaid"
age = 20
print("my name is:",name ,"my age is ",age)

my name is: junaid my age is  20

In [0]:
name = input ("**Enter  name**")
age= int(input ("enter age"))
print("Your name is:",name, "Your age is:",age)

**Enter  name**sfsfs
enter age25
Your name is: sfsfs Your age is: 25

In [0]:
X= int(input("enter the value of X : "))
Y= int(input ("enter the value of Y : "))
print("addition of X and Y :",X+Y)

print(" multiplication of X and Y :",X*Y)

print("subtraction of X and Y :",X-Y)

print("division of X and Y :",X/Y)

enter the value of X : 100
enter the value of Y : 500
addition of X and Y : 600
 multiplication of X and Y : 50000
subtraction of X and Y : -400
division of X and Y : 0.2

#Funadamental dataypes 

* int 
* float
* complex
* boolean
* string

In [0]:
x = 12
y=20.2
z= 5+6j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [0]:
c=complex(2,5)
print(c)

(2+5j)

In [0]:
c1=5+4j
c2=6+7j
print("addition of complex values", c1+c2)
print("subtraction of complex values", c1-c2)
print("a=multiplication of complex values", c1*c2)
print("division of complex values", c1/c2)

addition of complex values (11+11j)
subtraction of complex values (-1-3j)
a=multiplication of complex values (2+59j)
division of complex values (0.6823529411764705-0.12941176470588237j)

In [0]:
#boolean
x=6
y=7
x < y

#string 
s1="abd"
s2="dfg"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [0]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [0]:
#lenght
a= "abcd"
print(len(str(a)))

4

In [0]:
n1= 100 #single variable
a=b=c=20 #multiple variable assignment
a1,b1,c1 = 123,234,345
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
123 234 345

# precendence of Arth operators
* paranthesis
* power
* Multiplication
* Addition

In [0]:
x= 1+2 ** 3/4*5
print(x)

11.0

#operators
* arithmetic operators
- -
- *
- /
- %
- **
- //  
- +

# Relational operators
* == , !=,<,>,<=,>=

#logical operators
* and
* or 
* not

In [0]:
i=100
a1=(i>15) and (i>76)
a2=(i>567) or (i>3456)
print(a1)
print(a2)
print(not i)

True
False
False

#Membership operator
 * in
 * not in

In [0]:
str1= "abc"
print('a' in str1)
print('a' not in str1)

True
False

#control flow statement
* conditional statement
* looping statement
* if-else statement
* syntax

    if condition :
                  statements
    else         
         statements

In [0]:
#check the given number is even or odd
n= int(input("enter a number"))
if n%2 == 0:
     print("even")
else:
    print("odd")

enter a number5
odd

In [0]:
#check the given number is perfectly multiple of 3 and 5
n= int(input("enter a number : "))
if n%3== 0 and n%5==0:
                    print("YES")
else:
    print("NO")

enter a number : 31
NO

In [0]:
#check the given number is positive , negative or zero
A=int(input("enter the number"))
if A>0: 
      print("the given number is positive")
elif A<0 :
     print("the given number is negative")
else :
     print("the given number is zero")

enter the number-10
the given number is negative

In [0]:
#